*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Imageofproject{
         width: 19rem;
}
.Descri{
    width:19rem;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}